.col-1{width: 8.33%}
.col-2{width: 16.67%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.67%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.67%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.67%}
.col-12{width: 100%}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    /*for tablets:(ukuran layar lebih besar dari 600px)*/
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

@media only screen and (min-width: 768px){
    /*for desktop:(ukuran layar lebih besar dari 768px)*/
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

img{
    max-width:100%;
    height: auto;
    transform: scale(1.1);
    border-radius: 100%;width: 30%;
    height: 20%;
    
}

.padding-8{
    padding: 0px;
}
.padding-16{
    padding: 16px;
}

.padding-32{
    padding: 32px;
}

.padding-64{
    padding: 128px;
}

.center{
    text-align: center
}

table{
    border: 1px solid black;
    width:100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    background-color: lightgoldenrodyellow
}

table tr{
    border: 1px solid black;
    text-align: center
}

table th{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center
}

.footer1{
    text-align: center;
    padding: 20px; /* Some padding */
  
  background: #ddd; /* Grey background */
}

.col-12 li{
    display: inline-block;
    width: 20%;
    font-weight: bold;
    background-color: black;
}

.col-12 li a{
    text-decoration: none;
    color: white;
}

.footer2{
    float: right;
    text-align: right;
    padding: 20px; /* Some padding */
  
  background: #ddd; /* Grey background */
}

hr{
    width:100%;
    align-self: center;
}

.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}

.bodyabout{
    background: url('alam.jpg');
    background-size:cover;
			background-attachment: fixed;
}
.homebody{
    background: url('nature.jpg');
    background-size:cover;
			background-attachment: fixed;
}

.bodyform{
    background: url('nature2.jpg');
    background-size:cover;
			background-attachment: fixed;
}

.bodycollection{
    background: url('nature3.jpg');
    background-size:cover;
			background-attachment: fixed;
}

/* .img1{
    background-image: image('doge1.jpg')
}

.img2{
    background: url('doge2.jpg')
}
.img3{
    background: url('doge1.jpg')
}
.img4{
    background: url('doge1.jpg')
} */

#isi{
    width: 100%;
    background-color: burlywood;
}